body{
    margin: 75px 0 0 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: stretch;
}

header{
    position: fixed;
    height: 75px;
    width: 100vw;
    top: 0;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    align-items: center;
    justify-content:space-around;
    line-height: 75px;
}

#Logo{
    flex-grow: 1;
}

#Logo img{
    width: 30px;
    height: 30px;
    position: relative;
    left: 20px;
}

#Msgs,#Not,#Menu{
    flex-grow: 1;
}

#Inicio, #Siguiendo, #explorar, #User{
    flex-grow: 2;
}

#searchbar{
    flex-grow: 9;
    display: flex;
    align-items: center;
    height: 80%;
}
#searchbar input{
    width: 90%;
    height: 60%;
    border-radius: 10px;
    border: 0;
    padding-left: 40px;
    color: #333;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 600;
}

#searchbar input:focus{
    outline: none;
    border: 4px solid rgba(127,193,255);
}

#searchbar i{
    position: absolute;
    padding-top: 30px;
    padding-left: 1%;
}

div.col{
    width: 16.59vw;
}

div.col div{
    width: 100%;
}

div.col div.dos{
    height: 200px;
}
div.col div.cuatro{
    height: 400px;
}
div.col div.seis{
    height: 600px;
}

div.col div img{
    width:100%;
    height: 100%;
    padding: 10%;
    border-radius:30px;
}

